.button {
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.2, 0, 2);
    -fx-translate-y: -1;
    -fx-border-color: transparent;
}

.button:pressed,
.button:focused {
    -fx-border-color: transparent;
}

.button-blue {
    -fx-background-color: -color-blue;
}

.button-green {
    -fx-background-color: -color-green;
}

.button-red {
    -fx-background-color: -color-red;
}

.button-yellow {
    -fx-background-color: -color-yellow;
}

.button-gray {
    -fx-background-color: -color-gray;
}

.button-blue,
.button-green,
.button-red,
.button-yellow,
.button-gray {
    -fx-text-fill: -color-white;
    -fx-font-weight: 700;
}

.button-action,
.button-action:hover,
.button-action:pressed,
.button-action:focused{
    -fx-font-size: 16;
}

.fs-12,
.fs-12:hover,
.fs-12:pressed,
.fs-12:focused {
    -fx-font-size: 12;
}

