@import "colors.css";
@import "buttons.css";
@import "tables.css";
@import "comboboxs.css";
@import "checkboxs.css";
@import "datepickers.css";
@import "radiobuttons.css";
@import "spinners.css";

#APPrincipal {
    -fx-background-color: -color-white;
}

/* Tela de Pedidos */

#BPesquisar-pedidos {
    -fx-background-color: transparent;
}

#BPesquisar-pedidos .ikonli-font-icon {
    -fx-icon-size: 22px;
}

/* Tela de Relatório */

#LResumoGeral-relatorio {
    -fx-background-color: -color-blue;
}

#LPedidos-relatorio {
    -fx-background-color: -color-yellow;
}

#LPagamentos-relatorio {
    -fx-background-color: -color-green;
}

#LResumoGeral-relatorio,
#LPedidos-relatorio,
#LPagamentos-relatorio {
    -fx-text-fill: -color-white;
    -fx-padding: 0 0 0 10;
    -fx-background-radius: 10 10 0 0;
}

#PResumoGeral-relatorio,
#PPedidos-relatorio,
#PPagamentos-relatorio {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 0 0 10 10;
}

.LValor-relatorio {
    -fx-text-fill: -color-green;
}

.LPorcento-relatorio {
    -fx-text-fill: -color-blue;
}

#DPData-relatorio {
    -fx-font-size: 16;
}

/* Modal Troco */

.LTroco {
    -fx-text-fill: -color-green;
}

/* Modal Aviso Pagamentos */

#LWarning-aviso-pagamento .ikonli-font-icon {
    -fx-icon-size: 80px;
    -fx-icon-color: -color-red;
}

/* Tela de Novo Pedido */

#LInfoPedido {
    -fx-text-fill: -color-red;
    -fx-font-weight: 700;
}

/* Pane Marmita - Novo Pedido */

#LInfo-pane-marmita {
    -fx-text-fill: -color-red;
    -fx-font-weight: 700;
}

.tc-red {
    -fx-text-fill: -color-red;
}

.tf-700 {
    -fx-font-weight: 700;
}

.ic-yellow {
    -fx-icon-color: -color-yellow;
}

