#tabMarmita {
    -fx-background-radius: 20 0 0 0;
    -fx-border-radius: 20 0 0 0;
}

#tabProduto {
    -fx-background-radius: 0 20 0 0;
    -fx-border-radius: 0 20 0 0;
}

.toggle-button {
    -fx-border-color: transparent;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.toggle-button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.button {
    -fx-border-color: transparent;
}

.button:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}