/* ---- TABELA TPedidos ---- */
.table-view {
    -fx-background-color: #f0f0f5;       /* Cinza claro para contraste */
    -fx-border-color: #d0d0d5;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

/* Fundo onde ficam as linhas */
.table-view .table-row-cell {
    -fx-background-color: #e9e9f0;       /* Mais escuro que o fundo */
    -fx-text-fill: #2a2a2a;
    -fx-font-size: 14px;
    -fx-row-size: 30px
}

/* Cor intercalada para melhorar visualização */
.table-view .table-row-cell:odd {
    -fx-background-color: #f3f3f8;
}

/* Linha selecionada */
.table-view .table-row-cell:selected {
    -fx-background-color: #3b7dd8;       /* Azul suave */
    -fx-text-fill: white;
}

/* Cabeçalho da tabela */
.table-view .column-header-background {
    -fx-background-color: #d8d8e2;
}

.table-view .column-header,
.table-view .column-header .label {
    -fx-text-fill: #1e1e1e;
    -fx-font-weight: bold;
    -fx-padding: 8px;
}

.table-view .scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

/* Botão de editar */

.BEditar {
    -fx-background-color: transparent;
}

.BEditar .icon-edit {
    -fx-icon-color: -color-blue;
}

.BEditar .ikonli-font-icon {
    -fx-icon-size: 20px;
}